@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* Utilities
---------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

img,.text-container, .img-container {
    width: 100%;
}
a {
    text-decoration: none;
}

header {
    padding: 50px 0;
    background-color: rgba(255, 144, 14, 0.1);
}

.container {
    max-width: 1480px;
    margin: 0 auto 130px;
    padding: 0 40px;
}

.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
}

.title {
    font-size: 45px;
    font-weight: 700;
}
.sub-title {
    font-size: 20px;

}
.desc {
    color: #727272;
    line-height: 26px;
}
.button {
    background-color: #ff900e;
    padding: 20px 25px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 8px;
}

/* Navigation Bar Style 
--------------------- */

nav >.container {
    justify-content: space-between;
    margin: 0 auto;
    gap: 30px;
}

nav ul {
    gap: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #424242;
    font-weight: 500;
}

/* Showcase Styles
--------------- */
.showcase.container {
    margin: 0 auto;
}
.showcase .text-container {
    margin: 100px auto 50px;
    flex-direction: column;
    gap: 22px;
    max-width: 868px;
}
.showcase .title {
    max-width: 700px;
    text-align: center;
    font-size: 65px;
}
.showcase .desc {
    text-align: center;
    margin-bottom: 10px;
}

.showcase img {
    max-height: 700px;
    object-fit: cover;
    border-radius: 8px;
}

/* Quick Features List Style 
-------------------- */
.quick-list {
    margin: 85px auto 130px;
    gap: 73px;
}

.quick-list .img-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quick-list .text-container {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;

}

.quick-list img {
    object-fit: cover;
    height: 342px;
    width: 342px;
    border-radius: 8px;
}

.quick-list .title {
    max-width: 468px;
}
.title .part-1 {
    font-weight: 500;
    color: #727272;
}
.title .part-3 {
    color: #ff900e;
}

.quick-list .desc {
    max-width: 537px;
    margin-bottom: 10px;
    
}


/* Enjoy List Style 
----------------- */
.enjoy-list .info {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 100px;
}
.info >.text-container > .title {
    padding-left: 21px;
    margin: 64px 0 24px;
    border-left: 5px solid #ff900e;
}

.info > .text-container > .desc {
    margin-bottom: 30px;
}

.text-container .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.text-container .sub-container {
    padding: 30px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

}

.enjoy-list img {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;}

.enjoy-list .sub-title {
    color: #131313;
    margin-bottom: 10px;
}
.enjoy-list .button {
    position: absolute;
    top: 3150px;
    left: 730px;
    text-align: center;
    padding: 45px;
}

/* Some Facts Style 
---------------- */
.some-facts .desc {
    max-width: 542px;
    margin: 24px 0 100px;
}

.some-facts .facts {
    gap: 94px;
    flex-wrap: wrap;
    justify-content: center;

}
.some-facts .fact {
    flex-direction: column;
    text-align: center;
    border: 1px solid #ff900e;
    border-radius: 8px;
    padding: 45px 35px;
    height: 242px;
    width: 242px;
    transition-property: width, height;
    transition-duration: 1s;
    transition-timing-function: ease-in;

}
.some-facts .fact:hover {
    background: linear-gradient(to top,
        #ff900e,
        #fff
    );
    height: 262px;
    width: 262px;
    border: none;
}

.facts img {
    height: 45px;
    width: 45px;
}

.facts .title {
    color: #424242;
    margin: 8px 0 5px;
    font-weight: 600;
}

.facts .sub-title {
    font-weight: 600;
    color: #727272;
}


/* Sponsors Style 
-------------- */
.sponsor {
    flex-direction: column;
}

.sponsor .desc {
    max-width: 542px;
    text-align: center;
    margin: 24px 0 50px;
}

.brands {
    gap: 120px;
    flex-wrap: wrap;
    justify-content: center;
}

.brand {
    height: 50px;
    width: auto;
    filter: grayscale(100%);  
}

/* Workshop Style 
--------------- */

.workshop {
    gap: 100px;
}
.workshop .text-container, .workshop .img-container {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;    
}
.workshop img {
    border-radius: 8px;
}
.workshop .title {
    border-left: 5px solid #ff900e;
    padding-left: 21px;
    font-size: 55px;
}


.workshop .sub-title {
    font-size: 30px;
}

.workshop ul {
    list-style:inside;
    
}

.workshop .email {
    gap: 20px;
}


.workshop input {
    padding: 10px 50px 10px 5px;
    border: none;
    border-bottom: 5px solid #727272;
}

.workshop input::placeholder {
    font-size: 20px;
}
.workshop input:focus {
    outline: none;
    border-bottom: 5px solid #ff900e;
}

/* Footer Style 
--------------- */

footer.container {
    background-color: rgba(255, 144, 14, 0.1);
    max-width: 1300px;
}

footer .sub-title {
    text-align: center;
    font-weight: 400;
    color: #424242;
    padding: 40px;
}


/* Mobile Screen 
-------------- */
@media screen and (max-width: 576px) {
    .flex {
        flex-direction: column;
    }

    .img-container.grid {
        grid-template-columns:  repeat(1, 1fr);
    }

    .quick-list .img-container img {
        width: 295px;
        height: 295px;
        margin: 0 auto;
    }
    .enjoy-list .button {
        margin-top: 20px;
        position:static;
    }
}

/* Tablet Screen 
------------- */

@media screen and (min-width:577px) and (max-width:992px) {
    .quick-list,
    .enjoy-list .info,
    .workshop{
        flex-direction: column;
    }

    .enjoy-list .button {
        margin-top: 20px;
        position:static;
    }
}